In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("vehicles.csv")

In [35]:
df.year.head()

0    2010.0
1    2014.0
2    2006.0
5    2016.0
6    2012.0
Name: year, dtype: float64

In [3]:
df.shape

(458213, 26)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458213 entries, 0 to 458212
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    458213 non-null  int64
 1   id            458213 non-null  int64
 2   url           458213 non-null  object
 3   region        458213 non-null  object
 4   region_url    458213 non-null  object
 5   price         458213 non-null  int64
 6   year          457163 non-null  float64
 7   manufacturer  439993 non-null  object
 8   model         453367 non-null  object
 9   condition     265273 non-null  object
 10  cylinders     287073 non-null  object
 11  fuel          454976 non-null  object
 12  odometer      402910 non-null  float64
 13  title_status  455636 non-null  object
 14  transmission  455771 non-null  object
 15  VIN           270664 non-null  object
 16  drive         324025 non-null  object
 17  size          136865 non-null  object
 18  type          345475 non-null  object
 19  paint_color   317370 non-null  object
 20  image_url     458185 non-null  object
 21  description   458143 non-null  object
 22  state         458213 non-null  object
 23  lat           450765 non-null  float64
 24  long          450765 non-null  float64
 25  posting_date  458185 non-null  object
dtypes: float64(4), int64(3), object(19)
memory usage: 90.9+ MB

In [37]:
df['year'] = df['year'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [4]:
df.isnull().sum() # we tried to find how many missing values are present in the data set!

Unnamed: 0           0
id                   0
url                  0
region               0
region_url           0
price                0
year              1050
manufacturer     18220
model             4846
condition       192940
cylinders       171140
fuel              3237
odometer         55303
title_status      2577
transmission      2442
VIN             187549
drive           134188
size            321348
type            112738
paint_color     140843
image_url           28
description         70
state                0
lat               7448
long              7448
posting_date        28
dtype: int64

In [33]:
# df['manufacturer'].nunique() # 43 manufacturers
# df['region'].nunique() # 405 regions
# df['year'].nunique() # 110 year values
# df['model'].nunique() # 31520 models
# df['condition'].nunique() # 6 types of conditioned vehicles
# df['cylinders'].nunique() # 8 types of cylindered vehicles
# df['fuel'].nunique() # 5 types of fuelled vehicles
# df['title_status'].nunique() # 6 types of titled statused vehicles
# df['transmission'].nunique() # 3 types of transmissioned vehicles 
# df['drive'].nunique() # 3 types of driving wheeled vehicles
# df['size'].nunique() # 4 types of vehicles sizes
# df['type'].nunique() # 13 different types of vehicles
# df['paint_color'].nunique() # 12 unique colors
# df['state'].nunique() # # of states listed from

13

In [34]:
df['year'].unique()

array([2010., 2014., 2006., 2016., 2012., 2017., 2019., 2013.,   nan,
       2020., 2018., 2009., 2015., 2004., 2011., 2007., 1990., 2005.,
       2008., 2003., 1996., 1997., 2000., 1976., 2002., 2001., 1988.,
       1999., 1993., 1971., 1982., 1962., 1966., 1998., 1995., 1994.,
       1955., 1967., 1911., 1987., 1969., 1965., 1963., 1991., 1974.,
       1989., 1984., 1980., 1992., 1975., 1983., 2021., 1961., 1964.,
       1968., 1973., 1941., 1960., 1986., 1972., 1978., 1936., 1947.,
       1948., 1979., 1951., 1949., 1970., 1985., 1981., 1977., 1935.,
       1900., 1933., 1954., 1937., 1930., 1946., 1939., 1956., 1928.,
       1957., 1950., 1929., 1932., 1959., 1953., 1938., 1940., 1958.,
       1934., 1924., 1952., 1931., 1926., 1927., 1945., 1942., 1921.])

In [35]:
df.shape

(458213, 26)

In [5]:
df.drop_duplicates('VIN',inplace = True)

In [6]:
df.shape

(133621, 26)

In [54]:
vehicles_info = df[(df.year>=1995)&(df.year<2021)]

In [55]:
vehicles_info.shape

(131022, 26)

In [56]:
vehicles_info.isnull().sum()

Unnamed: 0          0
id                  0
url                 0
region              0
region_url          0
price               0
year                0
manufacturer     2460
model             514
condition       60216
cylinders       48833
fuel             1701
odometer         3177
title_status     1321
transmission     1249
VIN                 1
drive           28419
size            94253
type            18007
paint_color     31462
image_url           0
description        42
state               0
lat              1408
long             1408
posting_date        0
dtype: int64

In [57]:
vehicles = vehicles_info.dropna(how='any', subset=['VIN'])

In [83]:
vehicles.isnull().sum()

Unnamed: 0          0
id                  0
url                 0
region              0
region_url          0
price               0
year                0
manufacturer        0
model             514
condition       60216
cylinders           0
fuel                0
odometer         3177
title_status     1321
transmission        0
VIN                 0
drive               0
size            94252
type                0
paint_color     31462
image_url           0
description        42
state               0
lat              1408
long             1408
posting_date        0
dtype: int64

In [66]:
vehicles['manufacturer'] = vehicles.manufacturer.fillna(vehicles['model'].map(dup_dict_manuf))

<ipython-input-66-0458d1585b2b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['manufacturer'] = vehicles.manufacturer.fillna(vehicles['model'].map(dup_dict_manuf))

In [68]:
vehicles['type'] = vehicles.type.fillna(vehicles['model'].map(dup_dict_type))

<ipython-input-68-0b9d030d46fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['type'] = vehicles.type.fillna(vehicles['model'].map(dup_dict_type))

In [70]:
#vehicles['size'] = vehicles['model'].map(dup_dict_size)

for i in vehicles['year']:
    
    

vehicles['size'] = vehicles.size.fillna(vehicles['model'].map(dup_dict_size))

AttributeError: 'numpy.int32' object has no attribute 'fillna'

In [72]:
#vehicles['drive'] = vehicles['model'].map(dup_dict_drive)
vehicles['drive'] = vehicles.drive.fillna(vehicles['model'].map(dup_dict_drive))

<ipython-input-72-2e78e6d4bef2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['drive'] = vehicles.drive.fillna(vehicles['model'].map(dup_dict_drive))

In [75]:
vehicles['transmission'] = vehicles.transmission.fillna(vehicles['model'].map(dup_dict_trans))

<ipython-input-75-b5480c3cd5bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['transmission'] = vehicles.transmission.fillna(vehicles['model'].map(dup_dict_trans))

In [77]:
#vehicles['cylinders'] = vehicles['model'].map(dup_dict_cylinders)
vehicles['cylinders'] = vehicles.cylinders.fillna(vehicles['model'].map(dup_dict_cylinders))

<ipython-input-77-e4c0f9e43036>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['cylinders'] = vehicles.cylinders.fillna(vehicles['model'].map(dup_dict_cylinders))

In [80]:
vehicles['fuel'] = vehicles.fuel.fillna(vehicles['model'].map(dup_dict_fuel))

<ipython-input-80-53ce9d3dff43>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['fuel'] = vehicles.fuel.fillna(vehicles['model'].map(dup_dict_fuel))

In [59]:
dup_vehicles = vehicles.copy()

In [13]:
dup_vehicles['Manuf_null'] = np.where(dup_vehicles['manufacturer'].isnull(),1,0)

In [60]:
dup_manuf = dup_vehicles['manufacturer'].copy()

In [63]:
dup_manuf.isnull().sum()

2460

In [64]:
dup_dict_manuf = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_manuf[i] = dup_vehicles['manufacturer']

In [17]:
dup_vehicles['Manuf'] = dup_vehicles['model'].map(dup_dict)

In [67]:
# filling the missing values in 'type'
dup_dict_type = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_type[i] = dup_vehicles['type']

In [19]:
dup_vehicles['typef'] = dup_vehicles['model'].map(dup_dict_type)

In [69]:
# filling the missing values in 'size'
dup_dict_size = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_size[i] = dup_vehicles['size']

In [71]:
# filling the missing values in 'drive'
dup_dict_drive = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_drive[i] = dup_vehicles['drive']

In [74]:
# filling the missing values in 'transmission'
dup_dict_trans = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_trans[i] = dup_vehicles['transmission']

In [76]:
# filling the missing values in 'cylinders'
dup_dict_cylinders = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_cylinders[i] = dup_vehicles['cylinders']

In [79]:
# filling the missing values in 'fuel'
dup_dict_fuel = dict()

for i in dup_vehicles['model']:
    if i is not None:
        dup_dict_fuel[i] = dup_vehicles['fuel']

In [62]:
vehicles[vehicles['odometer'].isnull()]

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
2112,2112,7225084638,https://bham.craigslist.org/ctd/d/birmingham-2...,birmingham,https://bham.craigslist.org,21995,2014.0,0 chevrolet 1 hyundai 5 ...,4runner 4wd,excellent,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,silver,https://images.craigslist.org/00V0V_6JFalpgJxp...,2014 Toyota 4Runner SR5 4.0L V6 4X4 Clean Titl...,al,33.649300,-86.705700,2020-11-03T17:40:05-0600
2135,2135,7224778916,https://bham.craigslist.org/cto/d/springville-...,birmingham,https://bham.craigslist.org,4800,2008.0,0 chevrolet 1 hyundai 5 ...,crown vic,good,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00U0U_arVJFcae7b...,2008 Ford Crown Vic Police Interceptor was nev...,al,33.739003,-86.469799,2020-11-03T09:19:11-0600
2142,2142,7224821338,https://bham.craigslist.org/ctd/d/albertville-...,birmingham,https://bham.craigslist.org,38500,2003.0,0 chevrolet 1 hyundai 5 ...,wrangler jk rubicon recon,like new,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/01111_3nTaICkpJs...,2018 JEEP WRANGLER JK RUBICON RECON Vehicl...,al,34.273900,-86.206400,2020-11-03T10:27:29-0600
3113,3113,7237077910,https://huntsville.craigslist.org/cto/d/decatu...,huntsville / decatur,https://huntsville.craigslist.org,13000,2014.0,0 chevrolet 1 hyundai 5 ...,528i,excellent,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,black,https://images.craigslist.org/00D0D_8jNlNENTUM...,Fresh Local Trade in! 2014 BMW 528i with only ...,al,34.589600,-86.988700,2020-11-25T16:56:49-0600
5019,5019,7226691584,https://mobile.craigslist.org/ctd/d/mobile-200...,mobile,https://mobile.craigslist.org,6900,2002.0,0 chevrolet 1 hyundai 5 ...,m320,NaN,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00u0u_cRlpJYYBme...,Call for details 2516233516,al,30.661628,-88.109432,2020-11-06T17:23:49-0600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457686,457686,7240989977,https://seattle.craigslist.org/skc/ctd/d/aubur...,seattle-tacoma,https://seattle.craigslist.org,0,2018.0,0 chevrolet 1 hyundai 5 ...,pilot ex-l,NaN,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00q0q_dP78heeida...,HINSHAW'S HONDA STOCK #: 210020A ...,wa,47.330290,-122.222553,2020-12-03T07:48:49-0800
457692,457692,7240982769,https://seattle.craigslist.org/tac/ctd/d/tacom...,seattle-tacoma,https://seattle.craigslist.org,0,2017.0,0 chevrolet 1 hyundai 5 ...,mdx w/technology pkg,NaN,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00e0e_3gV9emnk0y...,HINSHAW'S ACURA STOCK #: 17594G ...,wa,47.240046,-122.350066,2020-12-03T07:37:13-0800
457707,457707,7240972153,https://seattle.craigslist.org/tac/ctd/d/tacom...,seattle-tacoma,https://seattle.craigslist.org,0,2017.0,0 chevrolet 1 hyundai 5 ...,mdx,NaN,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00O0O_2hQ7JqgX66...,HINSHAW'S ACURA STOCK #: 17591M ...,wa,47.240046,-122.350066,2020-12-03T07:19:41-0800
457723,457723,7240962219,https://seattle.craigslist.org/tac/ctd/d/tacom...,seattle-tacoma,https://seattle.craigslist.org,0,2015.0,0 chevrolet 1 hyundai 5 ...,malibu lt,NaN,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00Z0Z_gxzO6dTd4L...,HINSHAW'S ACURA STOCK #: 200776AK ...,wa,47.240046,-122.350066,2020-12-03T07:02:08-0800
457724,457724,7240961238,https://seattle.craigslist.org/skc/ctd/d/aubur...,seattle-tacoma,https://seattle.craigslist.org,0,2015.0,0 chevrolet 1 hyundai 5 ...,accord sedan sport,NaN,...,0 rwd 1 fwd 5 NaN 6 ...,0 NaN 1 NaN 5 ...,0 other 1 sedan 5 pi...,NaN,https://images.craigslist.org/00y0y_h344YjCwYN...,HINSHAW'S HONDA STOCK #: 210069A ...,wa,47.330290,-122.222553,2020-12-03T07:00:29-0800

In [50]:
vehicles.isnull().sum()

Unnamed: 0           0
id                   0
url                  0
region               0
region_url           0
price                0
year                 0
manufacturer         0
model              514
condition        60216
cylinders            0
fuel                 0
odometer        131021
title_status      1321
transmission         0
VIN                  0
drive                0
size                 0
type                 0
paint_color      31462
image_url            0
description         42
state                0
lat               1408
long              1408
posting_date         0
dtype: int64

In [33]:
vehicles.to_csv('vehicles')

In [38]:
vehicles['year'] =vehicles['year'].astype(int)

<ipython-input-38-40deee811f1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['year'] =vehicles['year'].astype(int)

In [39]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131021 entries, 0 to 458211
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    131021 non-null  int64
 1   id            131021 non-null  int64
 2   url           131021 non-null  object
 3   region        131021 non-null  object
 4   region_url    131021 non-null  object
 5   price         131021 non-null  int64
 6   year          131021 non-null  int32
 7   manufacturer  131021 non-null  object
 8   model         130507 non-null  object
 9   condition     70805 non-null   object
 10  cylinders     131021 non-null  object
 11  fuel          131021 non-null  object
 12  odometer      127844 non-null  float64
 13  title_status  129700 non-null  object
 14  transmission  131021 non-null  object
 15  VIN           131021 non-null  object
 16  drive         131021 non-null  object
 17  size          131021 non-null  object
 18  type          131021 non-null  object
 19  paint_color   99559 non-null   object
 20  image_url     131021 non-null  object
 21  description   130979 non-null  object
 22  state         131021 non-null  object
 23  lat           129613 non-null  float64
 24  long          129613 non-null  float64
 25  posting_date  131021 non-null  object
dtypes: float64(3), int32(1), int64(3), object(19)
memory usage: 26.5+ MB

In [43]:
dummy = vehicles.groupby(['year','model'])['odometer'].median()
dummy.head()

year  model
1995  1500                 204951.0
      1500 laramie slt      78268.0
      1500 sierra               NaN
      1800 ud rollback     515737.0
      1995 Corvette ZR1     59600.0
Name: odometer, dtype: float64

In [44]:
year_model_median_odometer_reading = dict(vehicles.groupby(['year','model'])['odometer'].median())

In [47]:
year_model_median_odometer_reading

{(1995, '1500'): 204951.0,
 (1995, '1500 laramie slt'): 78268.0,
 (1995, '1500 sierra'): nan,
 (1995, '1800 ud rollback'): 515737.0,
 (1995, '1995 Corvette ZR1'): 59600.0,
 (1995, '240sx s14'): 140000.0,
 (1995, '2500'): 267000.0,
 (1995, '2500 club coupe'): 144945.0,
 (1995, '3 series l'): 94696.0,
 (1995, '3000gt'): 73324.0,
 (1995, '325i'): 170000.0,
 (1995, '325ic'): 94449.0,
 (1995, '5 series 540i'): 98865.0,
 (1995, '63,701'): nan,
 (1995, '740i'): 89960.0,
 (1995, '850'): 249007.0,
 (1995, '850 glt sedan heated leather 2 owners sun roof'): 33748.0,
 (1995, '911'): 71147.0,
 (1995, '95 F-250 X-CAB'): 244415.0,
 (1995, '95 linc towncar signature series'): 19350.0,
 (1995, 'Bluebird TC2000'): 42024.0,
 (1995, 'Internation Navi Star 4700'): 249873.0,
 (1995, 'International 4900 dump truck'): 79302.0,
 (1995, 'International Dump Truck'): 74642.0,
 (1995, 'K2500 SLE Z71'): 4566.0,
 (1995, 'Volo 850'): 177424.0,
 (1995, 'accord sdn'): 197010.0,
 (1995, 'areomax l8000'): 640291.0,
 (1995, 'aspire'): 108822.0,
 (1995, 'avalon sd'): 210000.0,
 (1995, 'avalon xl'): 85407.0,
 (1995, 'benz e300 diesel'): 300451.0,
 (1995, 'benz sl500'): 66000.0,
 (1995, 'blazer'): 130617.0,
 (1995, 'bronco'): 148512.0,
 (1995, 'bronco xl'): 274834.0,
 (1995, 'bronco xlt'): 90519.0,
 (1995, 'c class 3.6l'): 58434.0,
 (1995, 'c/k 2500'): 129843.0,
 (1995, 'c7000'): 146000.0,
 (1995, 'camaro'): 71168.0,
 (1995, 'camaro convertible'): 181650.0,
 (1995, 'camaro z28'): 107059.0,
 (1995, 'camry'): 153147.5,
 (1995, 'camry le'): 164688.5,
 (1995, 'caprice wagon'): 176000.0,
 (1995, 'cherokee sport'): 493487.0,
 (1995, 'cheyenne'): 206398.0,
 (1995, 'civic dx'): 145538.0,
 (1995, 'continental'): 150100.0,
 (1995, 'corolla'): 69627.0,
 (1995, 'corvette'): 71967.0,
 (1995, 'corvette convertible'): 38399.0,
 (1995, 'corvette coupe'): 90135.0,
 (1995, 'dakota'): 121500.0,
 (1995, 'defender'): 109019.0,
 (1995, 'delica space gear'): 82100.0,
 (1995, 'deville'): 66274.0,
 (1995, 'e - 350'): 161295.0,
 (1995, 'e class'): 82229.0,
 (1995, 'e-150'): 224851.0,
 (1995, 'e-150 club wagon'): 173300.0,
 (1995, 'e-350'): 208369.5,
 (1995, 'e-class'): 80277.0,
 (1995, 'e350 van'): 180000.0,
 (1995, 'eclipse gsx'): nan,
 (1995, 'eldorado'): 122125.0,
 (1995, 'eldorado coupe'): 56250.0,
 (1995, 'es 300'): 126395.0,
 (1995, 'explorer'): 167699.0,
 (1995, 'f-150'): 117616.0,
 (1995, 'f-150 xlt'): 254000.0,
 (1995, 'f-250'): 191750.0,
 (1995, 'f-350'): 265516.0,
 (1995, 'f-350 super duty'): 21710.0,
 (1995, 'f150'): 232049.0,
 (1995, 'f150 xlt'): 197000.0,
 (1995, 'f25 xlt 4x4 ext cab'): 157210.0,
 (1995, 'f250'): 129000.0,
 (1995, 'f250 diesel powerstroke'): 116050.0,
 (1995, 'f250 super duty 4x4'): 211209.0,
 (1995, 'f350 diesel powerstroke'): 315000.0,
 (1995, 'f355 gated 6 speed manual spider'): 38340.0,
 (1995, 'f800'): 73501.5,
 (1995, 'firebird'): 131281.5,
 (1995, 'g-p'): 33860.0,
 (1995, 'g20 van'): 164723.0,
 (1995, 'g30'): 82500.0,
 (1995, 'g3500'): 70000.0,
 (1995, 'gmt-400'): 253766.0,
 (1995, 'grand cherokee laredo'): 178456.0,
 (1995, 'grand prix'): 96500.0,
 (1995, 'hiace van'): 124000.0,
 (1995, 'impala'): 9600.0,
 (1995, 'k3500'): 81700.0,
 (1995, 'kodiak'): 146515.5,
 (1995, 'm3'): 100603.0,
 (1995, 'maxima'): 252275.0,
 (1995, 'miata'): 244000.0,
 (1995, 'miata mx-5'): 100340.0,
 (1995, 'mustang'): 59529.5,
 (1995, 'mustang gt convertible'): 82704.0,
 (1995, 'neon'): 69018.0,
 (1995, 'park avenue'): 88378.0,
 (1995, 'passat'): nan,
 (1995, 'pickup'): 199910.0,
 (1995, 'quest'): 54116.0,
 (1995, 'ranger'): 33500.0,
 (1995, 'roadmaster'): 185332.0,
 (1995, 'romeo 164 ls'): 109432.0,
 (1995, 's-class'): 132404.0,
 (1995, 's10'): 230559.0,
 (1995, 's320'): 204000.0,
 (1995, 'sc400'): 208000.0,
 (1995, 'sierra 1500'): 0.0,
 (1995, 'sierra 3500'): 100000.0,
 (1995, 'sierra 4x4'): 230855.0,
 (1995, 'sierra c/k 1500 club coupe 6.5-ft. bed 4wd 4-speed'): 215400.0,
 (1995, 'sierra c2500'): 63200.0,
 (1995, 'silverado 1500'): 235832.5,
 (1995, 'silverado 1500 4x4'): 145352.0,
 (1995, 'silverado 3500'): 18517.0,
 (1995, 'silverado xtra cab'): 104000.0,
 (1995, 'skyline r33'): 0.0,
 (1995, 'sl2'): 117118.0,
 (1995, 'sonoma sls'): 98693.0,
 (1995, 'suburban 2500'): 209000.0,
 (1995, 'suburban ls'): 97359.0,
 (1995, 'tacoma'): 435786.0,
 (1995, 'tacoma lx xcab'): 36000.0,
 (1995, 'tahoe 4x4'): 247000.0,
 (1995, 'tahoe lt'): 150000.0,
 (1995, 'town car'): 96710.5,
 (1995, 'trans am'): 120540.0,
 (1995, 'villager gs'): 87664.0,
 (1995, 'wca'): nan,
 (1995, 'wrangler'): 156000.0,
 (1995, 'xj xj6 sedan 4d'): 207300.0,
 (1995, 'xj6'): 104500.0,
 (1995, 'xjr'): 119005.0,
 (1995, 'xjs'): 45530.0,
 (1996, '1500'): 203865.0,
 (1996, '1996 F-250 7.3 Manual'): 298000.0,
 (1996, '1996 Fprd Windstar'): nan,
 (1996, '1996 camaro'): 117445.0,
 (1996, '2500'): 313000.0,
 (1996,
  '2500 diesel 4x4 5.9l 12-valve cummins turbo diesel single cab long bed'): 152000.0,
 (1996, '2500 st'): 168421.0,
 (1996, '3000gt sl'): 228640.0,
 (1996, '3500'): 418000.0,
 (1996, '3500 cheyenne'): 128884.0,
 (1996, '4runner'): 196843.5,
 (1996, '4runner 4wd'): 199535.0,
 (1996, '4runner 4x4 limited'): 139200.0,
 (1996, '4runner limited 4dr limited 3.4l 4x4'): 374351.0,
 (1996, '4runner sr5'): 356000.0,
 (1996, '626'): 103475.0,
 (1996, '9000'): 167550.0,
 (1996, '911 carrera'): 71165.0,
 (1996, '911 carrera 4'): 69869.0,
 (1996, '960'): 229904.0,
 (1996, 'International 3800'): 169519.0,
 (1996, 'Kawasaki Voyager'): 24738.0,
 (1996, 'Lance 8000'): 0.0,
 (1996, 'Plymouth Breeze'): nan,
 (1996, 'SUZUKI X90'): 56470.0,
 (1996, 'accord'): 127370.0,
 (1996, 'accord dx'): 104194.0,
 (1996, 'accord ex sedan 2.2l automatic moon roof 2 owners'): 132101.0,
 (1996, 'aerostar van xlt'): 126000.0,
 (1996, 'avalanche 1500'): 350000.0,
 (1996, 'avalon'): 184577.0,
 (1996, 'b3200 se truck'): 214900.0,
 (1996, 'b3500 cargo van'): 140000.0,
 (1996, 'benz 1996 s600 v12'): 68500.0,
 (1996, 'benz c36'): 164250.0,
 (1996, 'blazer'): 196000.0,
 (1996, 'bronco'): 138000.0,
 (1996, 'bronco xl'): 118500.0,
 (1996, 'c/k 1500'): 56500.0,
 (1996, 'c/k 2500'): 94438.0,
 (1996, 'c2500 ext cab'): 243761.0,
 (1996, 'cabrio convertible'): 106000.0,
 (1996, 'camaro'): 90106.0,
 (1996, 'camaro z28'): 117000.0,
 (1996, 'camry'): 177545.0,
 (1996, 'camry le'): 180000.0,
 (1996, 'camry le wagon'): 185285.0,
 (1996, 'cherokee'): 215294.5,
 (1996, 'cherokee sport'): 233400.0,
 (1996, 'cherokee sport xj'): 198000.0,
 (1996, 'chvrolet Silverado K3500 4x4'): 87698.0,
 (1996, 'corolla'): 96626.5,
 (1996, 'corolla dx'): 232465.0,
 (1996, 'corvette'): 98000.0,
 (1996, 'corvette convertible'): 41000.0,
 (1996, 'dakota'): 92993.0,
 (1996, 'diesel cummins 2500'): 155396.0,
 (1996, 'e320'): 93000.0,
 (1996, 'eagle talon tsi awd'): 104000.0,
 (1996, 'es 300'): 132661.5,
 (1996, 'escort lx wagon'): 215890.0,
 (1996, 'explorer'): 162680.0,
 (1996, 'explorer eddie bower'): 215700.0,
 (1996, 'express van g3500'): 234302.0,
 (1996, 'f-150'): 127000.0,
 (1996, 'f-250'): 203388.0,
 (1996, 'f-350'): 67550.0,
 (1996, 'f150 xlt'): 140550.5,
 (1996, 'f250 super cab'): 119014.0,
 (1996, 'f350'): 156800.0,
 (1996, 'f350 crew cab'): 66970.0,
 (1996, 'f350 xlt'): 119127.0,
 (1996, 'firebird'): 139707.5,
 (1996, 'firebird formula'): 140.0,
 (1996, 'fleetwood brougham'): 72567.0,
 (1996, 'g-series'): 102208.0,
 (1996, 'genesis'): 202591.0,
 (1996, 'geo metro'): 274522.0,
 (1996, 'grand am'): 99284.0,
 (1996, 'grand cherokee'): 183500.0,
 (1996, 'grand cherokee laredo'): 187.0,
 (1996, 'grand marquis'): 161000.0,
 (1996, 'grand prix se'): 192.0,
 (1996, 'impala'): 180000.0,
 (1996, 'impala ss'): 159900.0,
 (1996, 'integra ls'): 219290.0,
 (1996, 'international 2574'): 151961.0,
 (1996, 'international 4700'): 329000.0,
 (1996, 'international utility 4700'): 190563.0,
 (1996, 'intrepid'): 106960.0,
 (1996, 'land cruiser'): 102750.0,
 (1996, 'legacy'): 150300.0,
 (1996, 'legacy outback wagon'): 157800.0,
 (1996, 'ls'): 122325.0,
 (1996, 'ls 400 base'): 125439.0,
 (1996, 'lumina'): 144.0,
 (1996, 'lx450'): 265000.0,
 (1996, 'maxima'): 214000.0,
 (1996, 'miata convertible'): 32000.0,
 (1996, 'monte carlo'): 119684.0,
 (1996, 'mustand svt cobra "mystic"'): 108000.0,
 (1996, 'mustang'): 31653.0,
 (1996, 'mustang gt'): 118000.0,
 (1996, 'mustang gt convertible'): 161000.0,
 (1996, 'mustang svt cobra'): 25534.0,
 (1996, 'mustang v8'): 140000.0,
 (1996, 'mystique gs'): 101248.0,
 (1996, 'odyssey'): 194023.0,
 (1996, 'park avenue'): 1113995.0,
 (1996, 'pathfinder xe'): 191941.0,
 (1996, 'ranger'): 57664.0,
 (1996, 'rav4'): 178424.0,
 (1996, 'rl'): 230000.0,
 (1996, 'roadmaster'): 116243.0,
 (1996, 's-10 extended cab'): 0.0,
 (1996, 's10 ss. v6 4.3 liter'): 92100.0,
 (1996, 'sable'): 157332.0,
 (1996, 'sc300'): 118000.0,
 (1996, 'seville'): 50407.0,
 (1996, 'seville sls'): 123818.0,
 (1996, 'sierra k2500'): 250048.0,
 (1996, 'silverado'): 180122.0,
 (1996, 'silverado 1500'): 213685.0,
 (1996, 'sl class'): 90000.0,
 (1996, 'sonoma'): 206882.0,
 (1996, 'suburban'): 220000.0,
 (1996, 'suburban 2500'): 175.0,
 (1996, 'suburban c2500 2wd'): 214478.0,
 (1996, 'super duty f-250'): 175890.0,
 (1996, 't100 sr5'): 163608.0,
 (1996, 'tacoma'): 196909.0,
 (1996, 'tacoma 4x4'): 306024.0,
 (1996, 'tahoe'): 216793.5,
 (1996, 'tl'): 107800.0,
 (1996, 'town and country'): 171054.0,
 (1996, 'town car'): 110306.0,
 (1996, 'trans am'): 51122.0,
 (1996, 'van'): 82335.0,
 (1996, 'van 2500'): 133220.0,
 (1996, 'viper'): 6385.0,
 (1996, 'xj vanden plas'): 142000.0,
 (1996, 'z3'): 127387.0,
 (1996, 'z3 convertible'): 43805.0,
 (1997, '130615'): 130615.0,
 (1997, '15 passenger van'): 120534.0,
 (1997, '1500'): 183000.0,
 (1997, '1500 2wd'): 200106.0,
 (1997, '1500 express van'): 190550.0,
 (1997, '1500 silverado 4x4'): 3000.0,
 (1997, '1500 slt laramie'): 243000.0,
 (1997, '1997 540i'): 247000.0,
 (1997, '200sx'): nan,
 (1997, '200sx se-r'): 146314.0,
 (1997, '2500'): 306000.0,
 (1997, '2500 4x4'): 125032.0,
 (1997, '3 series'): 0.0,
 (1997, '328i'): 178705.0,
 (1997, '3500 crew cab'): 190728.0,
 (1997, '3500 dually'): 168797.0,
 (1997, '4runner'): 233000.0,
 (1997, '4runner limited 4x4'): 130519.0,
 (1997, '4runner sr5'): 169000.0,
 (1997, '4runner sr5 4x4 manual'): 272000.0,
 (1997, '540'): 134234.0,
 (1997, '7 series'): 221000.0,
 (1997, 'Daihatsu MODEL'): 0.0,
 (1997, 'FTWD Prowler'): 0.0,
 (1997, 'Fleetwood PACE ARROW'): 54100.0,
 (1997, 'Hummer H1'): 88677.0,
 (1997, 'Laredo'): 198000.0,
 (1997, 'Mercedez Benz c230'): 266391.0,
 (1997, 'OLDSMOBILE CUTLASS'): 125035.0,
 (1997, 'Yoyota Camry LE'): 87590.0,
 (1997, 'a4'): 336000.0,
 (1997, 'accord'): 162065.0,
 (1997, 'accord lx'): 144603.0,
 (1997, 'accord sdn'): 189138.0,
 (1997, 'accord sedan'): 217757.0,
 (1997, 'accord special edition'): 148001.0,
 (1997, 'altima'): 121742.0,
 (1997, 'armored town car'): 90500.0,
 (1997, 'avalon'): 180650.0,
 (1997, 'avalon xls'): 311490.0,
 (1997, 'benz e420'): 95833.5,
 (1997, 'benz s500'): 169850.0,
 (1997, 'benz sl500'): 154000.0,
 (1997, 'blue bird bus'): 140.0,
 (1997, 'boxster'): 57962.0,
 (1997, 'boxster convertible'): 118934.5,
 (1997, 'c/k 1500'): 110393.0,
 (1997, 'c/k 1500 series'): 73928.0,
 (1997, 'c/k 2500'): 241241.0,
 (1997, 'c/k 2500 series'): 184485.0,
 (1997, 'c1500'): 120214.0,
 (1997, 'c2500'): 90988.0,
 (1997, 'c30'): 210000.0,
 (1997, 'c3500'): 108160.0,
 (1997, 'c6500'): 60401.0,
 (1997, 'camaro'): 60101.0,
 (1997, 'camaro z28'): 149000.0,
 (1997, 'camaro z28 30th anniversary pace car'): 66041.0,
 (1997, 'camry'): 177129.0,
 (1997, 'camry ce'): 233636.0,
 (1997, 'camry xle'): 144000.0,
 (1997, 'celica'): 80232.0,
 (1997, 'century limited'): 99000.0,
 (1997, 'cherokee'): 230305.5,
 (1997, 'cherokee country'): 194785.0,
 (1997, 'cherokee sport'): 170534.0,
 (1997, 'civic'): 172229.0,
 (1997, 'civic dx'): 95676.0,
 (1997, 'civic lx'): 139675.0,
 (1997, 'cl'): 162501.5,
 (1997, 'concours'): 83065.0,
 (1997, 'conversion van'): 94000.0,
 (1997, 'corolla'): 193922.0,
 (1997, 'corvette'): 69900.0,
 (1997, 'cougar'): 124746.0,
 (1997, 'cougar coupe'): 82346.0,
 (1997, 'cr-v'): 189316.0,
 (1997, 'crown victoria'): 210965.0,
 (1997, 'crv'): 248722.0,
 (1997, 'crv 4x4'): 172000.0,
 (1997, 'custom suburban lt'): 190673.0,
 (1997, 'dakota'): 107904.5,
 (1997, 'dakota slt'): 97000.0,
 (1997, 'deville'): 65646.5,
 (1997, 'discovery'): 88683.0,
 (1997, 'discovery se'): 139000.0,
 (1997, 'dump truck'): 88000.0,
 (1997, 'e-150'): 111059.0,
 (1997, 'e-class'): 117806.0,
 (1997, 'e300'): 229000.0,
 (1997, 'e420'): 159140.0,
 (1997, 'econoline'): 144755.0,
 (1997, 'econoline e350'): 156000.0,
 (1997, 'escort'): 50376.0,
 (1997, 'eurovan'): 143000.0,
 (1997, 'eurovan campmobile'): 113675.0,
 (1997, 'expedition'): 202605.0,
 (1997, 'expedition xlt'): 247781.0,
 (1997, 'explorer'): 218397.0,
 (1997, 'explorer xlt'): 140507.0,
 (1997, 'explorer xlt 4dr xlt'): 145844.0,
 (1997, 'express g1500'): 177349.5,
 (1997, 'express g2500'): 280078.0,
 (1997, 'f 150'): 133074.0,
 (1997, 'f-150'): 158684.0,
 (1997, 'f-150 lariat'): 181336.0,
 (1997, 'f-150 xlt 3dr extended cab'): 176000.0,
 (1997, 'f-150 xlt 4x4'): 180660.0,
 (1997, 'f-250'): 92408.5,
 (1997, 'f-250 heavy duty'): 187000.0,
 (1997, 'f-250 super duty 7.3l'): 187000.0,
 (1997, 'f-250 utility body'): 26930.0,
 (1997, 'f-250 xlt crewcab'): 172677.0,
 (1997, 'f-250 xlt hd'): 150884.0,
 (1997, 'f-350'): 218000.0,
 (1997, 'f-350 xl'): 178429.0,
 (1997, 'f-super duty'): 218194.0,
 (1997, 'f150'): 205762.5,
 (1997, 'f150 4x4'): 210000.0,
 (1997, 'f150 xl'): 105.0,
 (1997, 'f150 xlt 4x4'): 138190.5,
 (1997, 'f150xlt'): 183000.0,
 (1997, 'f25'): 260000.0,
 (1997, 'f250'): 85055.0,
 (1997, 'f250 diesel xlt'): 237000.0,
 (1997, 'f350'): 99000.0,
 (1997, 'f350 diesel powerstroke xlt'): 163134.0,
 (1997, 'f350 regular cab & chassis'): 50000.0,
 (1997, 'f350 xl'): 113994.0,
 (1997, 'f355 challenge'): 9766.0,
 (1997, 'f450 super duty'): 118471.0,
 (1997, 'firebird'): 38425.0,
 (1997, 'geo prizm'): 261311.0,
 (1997, 'gmt-400'): 215173.0,
 (1997, 'grand cherokee'): 210167.0,
 (1997, 'grand cherokee limited'): 158929.0,
 (1997, 'grand marquis'): 92000.0,
 (1997, 'grand marquis gs'): 127614.5,
 (1997, 'grand prix'): 139552.5,
 (1997, 'grand prix se'): 97481.0,
 (1997, 'hardbody pickup'): 209424.0,
 (1997, 'i30'): 121082.0,
 (1997, 'integra'): 164134.0,
 (1997, 'international 3800'): 127399.0,
 (1997, 'international 4700'): 222341.0,
 (1997, 'ion'): 196000.0,
 (1997, 'jetta gls 4dr sedan'): 107000.0,
 (1997, 'jimmy'): 221000.0,
 (1997, 'k2500 4x4 extended cab'): 174700.0,
 (1997, 'land cruiser 1997'): 300000.0,
 (1997, 'landcruiser'): 178900.0,
 (1997, 'lesabre'): 141022.0,
 (1997, 'lesabre limited'): 87904.0,
 (1997, 'ls 400 luxury sdn'): 58863.0,
 (1997, 'ls400'): 219619.0,
 (1997, 'm3'): 81682.0,
 (1997, 'mark viii'): 150000.0,
 (1997, 'maxima'): 259621.0,
 (1997, 'miata'): 195200.0,
 (1997, 'mustang'): 135276.0,
 (1997, 'mustang cobra'): 97649.0,
 (1997, 'mx-5 miata'): 176599.0,
 (1997, 'oldsmobile aurora'): 122564.0,
 (1997, 'p30 step van'): 176000.0,
 (1997, 'pickup 1500'): 188720.0,
 (1997, 'protege dx'): 164106.0,
 (1997, 'quest'): 165278.5,
 (1997, 'quest gxe'): 207650.0,
 (1997, 'qx'): 188594.0,
 (1997, 'ranger'): 173920.0,
 (1997, 'ranger regular cab'): 218193.0,
 (1997, 'ranger supercab 4wd v6 xlt'): 92748.0,
 (1997, 'ranger xl 4wd low low miles'): nan,
 (1997, 'rav4'): 196700.0,
 (1997, 'rav4 sport'): 210589.0,
 (1997, 'riviera supercharged'): 59000.0,
 (1997, 'rl'): 72980.0,
 (1997, 's series sl1'): 212847.0,
 (1997, 's-10'): 155580.0,
 (1997, 's10'): 175000.0,
 (1997, 's500 coupe'): 127400.0,
 (1997, 's90'): 215907.0,
 (1997, 'sable'): 44000.0,
 (1997, 'sc 300 gold'): 190000.0,
 (1997, 'sc-2 coupe'): 88937.0,
 (1997, 'sebring convertible'): 50000.0,
 (1997, 'sierra 1500'): 190931.0,
 (1997, 'silverado 1500'): 191227.0,
 (1997, 'silverado 3500'): 258096.0,
 (1997, 'silverado c1500'): 203056.0,
 (1997, 'silverado k1500'): 207000.0,
 (1997, 'sl'): 65330.0,
 (1997, 'sl 500'): 57121.0,
 (1997, 'sl-class'): 79351.0,
 (1997, 'sl500'): 115877.0,
 (1997, 'stratus'): 114477.0,
 (1997, 'suburban'): 156631.0,
 (1997, 'suburban 1500 4x4'): 235000.0,
 (1997, 'super duty f-250'): 258936.0,
 (1997, 'sw'): 89263.0,
 (1997, 't7500'): 40794.0,
 (1997, 'tacoma'): 166100.5,
 (1997, 'tacoma 4x4'): 269078.0,
 (1997, 'tahoe'): 137204.0,
 (1997, 'tahoe silverado z71'): 127743.0,
 (1997, 'taurus g'): 76354.0,
 (1997, 'thunderbird lx coupe 2d'): 62382.0,
 (1997, 'town car'): 113803.0,
 (1997, 'towncar'): 149265.0,
 (1997, 'v northstar'): 130000.0,
 (1997, 'vt1100c (shadow spirit 110'): 18274.0,
 (1997, 'wrangler'): 163311.5,
 (1997, 'wrangler / tj'): 174599.0,
 (1997, 'wrangler 4x4'): 122000.0,
 (1997, 'wrangler sport'): 157583.5,
 (1997, 'wrangler sport 4x4'): 126700.0,
 (1997, 'xj6'): 115487.5,
 (1997, 'xk'): 160580.0,
 (1997, 'xk8 convertible'): 60841.0,
 (1997, 'z3'): 54534.0,
 (1997, 'z3 1.9 2dr convertible'): nan,
 (1997, 'z3 2.8ltr roadster'): 81500.0,
 (1997, 'z3 convertible'): 28500.0,
 (1997, 'z3 roadster/hard top'): 71170.0,
 (1997, 'z71'): 42000.0,
 (1998, '1500'): 177000.0,
 (1998, '1500 4x4'): 98569.0,
 (1998, '1500 quad cab'): 36000.0,
 (1998, '19 foot flatbed stake body lift gate low miles'): 24219.0,
 (1998, '2500 quad cab'): 321122.0,
 (1998, '2500 silverado v8 8.1l super cab long bed 2 owners'): 128969.0,
 (1998, '2500 slt'): 345045.0,
 (1998, '3 series 1.9l'): 115877.0,
 (1998, '300zx'): 74000.0,
 (1998, '323 convertible'): 84500.0,
 (1998, '323i convertible'): 133370.0,
 (1998, '3500'): 383645.0,
 (1998, '4 runner sr5 4x4'): 243908.0,
 (1998, '4-runner'): 296197.0,
 (1998, '4runner'): 217380.0,
 (1998, '4runner sr5'): 204000.0,
 (1998, '4runner sr5 4x4'): 235000.0,
 (1998, '528i'): 172753.0,
 (1998, '7 series 740i'): 96867.0,
 (1998, '740il'): 125500.0,
 (1998, '911'): 28176.0,
 (1998, '911 carrera cabrio 993'): 47419.0,
 (1998, 'Coachman Camper Van'): 89772.0,
 (1998, 'Freightliner FL70 Dump Truck'): 228332.0,
 (1998, 'INTERNATIONAL 4700'): 200000.0,
 (1998, 'International School Bus'): 233459.0,
 (1998, 'MACK CH 613'): 550000.0,
 (1998, 'Mack CS200'): 80000.0,
 (1998, 'Mack RD690S'): 478290.0,
 (1998, 'OLDSMOBILE BRAVADA'): 146055.0,
 (1998, 'OLDSMOBILE CUTLASS'): 144757.0,
 (1998, 'Oldsmobile Aurora'): 178374.0,
 (1998, 'Oldsmobile Intrigue'): 247781.0,
 (1998, 'PLYMOUTH GRAND VOYAGER'): 165530.0,
 (1998, 'SAAB 9000'): 163745.0,
 (1998, 'Sl-500 Rodster'): 61000.0,
 (1998, 'Yukon'): 138000.0,
 (1998, 'a4'): 109366.0,
 (1998, 'a4 2.8 quattro'): 181218.0,
 (1998, 'accord'): 184623.0,
 (1998, 'accord ex'): 126000.0,
 (1998, 'altima'): 158000.0,
 (1998, 'avalon'): 107159.0,
 (1998, 'avalon xl'): 288000.0,
 (1998, 'benz 500 sl'): 73400.0,
 (1998, 'benz ml350'): 128041.0,
 (1998, 'benz sl500 convertible'): 115000.0,
 (1998, 'benz slk 230 convt'): 67365.0,
 (1998, 'benz slk230'): 67643.0,
 (1998, 'blazer'): 224297.0,
 (1998, 'blazer ls 4wd'): 254000.0,
 (1998, 'boxster'): 83166.5,
 (1998, 'boxter'): 120232.0,
 (1998, 'c 3500 hd'): 64195.0,
 (1998, 'c class'): 342655.0,
 (1998, 'c/k 1500'): 52920.0,
 (1998, 'c1500'): 119607.0,
 (1998, 'c35 4x4 diesel'): 144000.0,
 (1998, 'c3500'): 55000.0,
 (1998, 'c3500hd'): 75000.0,
 (1998, 'c43 amg designo silver / black leather *rare *'): 149508.0,
 (1998, 'c70'): 116736.0,
 (1998, 'camaro'): 128887.0,
 (1998, 'camaro coupe 2d'): 211872.0,
 (1998, 'camaro z28'): 86000.0,
 (1998, 'camry'): 153300.0,
 (1998, 'camry le'): 118103.0,
 (1998, 'camry le 4dr sedan'): 174600.0,
 (1998, 'camry xle'): 48100.0,
 (1998, 'caravan'): 166346.0,
 (1998, 'century'): 65000.0,
 (1998, 'century custom'): 161000.0,
 (1998, 'cherokee'): 245031.0,
 (1998, 'cherokee classic'): 144820.0,
 (1998, 'civic'): 155593.0,
 (1998, 'civic ex'): 260872.0,
 (1998, 'civic lx'): 86000.0,
 (1998, 'clk-class'): 116743.5,
 (1998, 'club wagon'): 136218.0,
 (1998, 'concorde lxi'): 159444.0,
 (1998, 'continental'): 85717.0,
 (1998, 'corolla'): 92462.0,
 (1998, 'corvette'): 58000.0,
 (1998, 'corvette convertible'): 116811.0,
 (1998, 'cr-v'): 207280.0,

In [82]:
#vehicles['cylinders'] = vehicles['model'].map(dup_dict_cylinders)
vehicles['odometer'] = vehicles.odometer.fillna(vehicles[['year','model']].map(dup_dict_cylinders))

AttributeError: 'DataFrame' object has no attribute 'map'