In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("vehicles.csv")

In [4]:
df.head()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2020-12-02T08:11:30-0600
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.547500,-85.468200,2020-12-02T02:11:50-0600
2,2,7240224296,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,4900,2006.0,bmw,x3 3.0i,good,...,NaN,NaN,SUV,blue,https://images.craigslist.org/00B0B_5zgEGWPOrt...,Clean 2006 BMW X3 3.0I. Beautiful and rare Bl...,al,32.616807,-85.464149,2020-12-01T19:50:41-0600
3,3,7240103965,https://auburn.craigslist.org/cto/d/lanett-tru...,auburn,https://auburn.craigslist.org,2000,1974.0,chevrolet,c-10,good,...,rwd,full-size,pickup,blue,https://images.craigslist.org/00M0M_6o7KcDpArw...,1974 chev. truck (LONG BED) NEW starter front ...,al,32.861600,-85.216100,2020-12-01T15:54:45-0600
4,4,7239983776,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19500,2005.0,ford,f350 lariat,excellent,...,4wd,full-size,pickup,blue,https://images.craigslist.org/00p0p_b95l1EgUfl...,2005 Ford F350 Lariat (Bullet Proofed). This t...,al,32.547500,-85.468200,2020-12-01T12:53:56-0600

In [5]:
df.shape

(458213, 26)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458213 entries, 0 to 458212
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    458213 non-null  int64
 1   id            458213 non-null  int64
 2   url           458213 non-null  object
 3   region        458213 non-null  object
 4   region_url    458213 non-null  object
 5   price         458213 non-null  int64
 6   year          457163 non-null  float64
 7   manufacturer  439993 non-null  object
 8   model         453367 non-null  object
 9   condition     265273 non-null  object
 10  cylinders     287073 non-null  object
 11  fuel          454976 non-null  object
 12  odometer      402910 non-null  float64
 13  title_status  455636 non-null  object
 14  transmission  455771 non-null  object
 15  VIN           270664 non-null  object
 16  drive         324025 non-null  object
 17  size          136865 non-null  object
 18  type          345475 non-null  object
 19  paint_color   317370 non-null  object
 20  image_url     458185 non-null  object
 21  description   458143 non-null  object
 22  state         458213 non-null  object
 23  lat           450765 non-null  float64
 24  long          450765 non-null  float64
 25  posting_date  458185 non-null  object
dtypes: float64(4), int64(3), object(19)
memory usage: 90.9+ MB

In [7]:
df.isnull().sum() # we tried to find how many missing values are present in the data set!

Unnamed: 0           0
id                   0
url                  0
region               0
region_url           0
price                0
year              1050
manufacturer     18220
model             4846
condition       192940
cylinders       171140
fuel              3237
odometer         55303
title_status      2577
transmission      2442
VIN             187549
drive           134188
size            321348
type            112738
paint_color     140843
image_url           28
description         70
state                0
lat               7448
long              7448
posting_date        28
dtype: int64

In [31]:
# df['manufacturer'].nunique() # 43 manufacturers
# df['region'].nunique() # 405 regions
# df['year'].nunique() # 110 year values
# df['model'].nunique() # 31520 models
# df['condition'].nunique() # 6 types of conditioned vehicles
# df['cylinders'].nunique() # 8 types of cylindered vehicles
# df['fuel'].nunique() # 5 types of fuelled vehicles
# df['title_status'].nunique() # 6 types of titled statused vehicles
# df['transmission'].nunique() # 3 types of transmissioned vehicles 
# df['drive'].nunique() # 3 types of driving wheeled vehicles
# df['size'].nunique() # 4 types of vehicles sizes
# df['type'].nunique() # 13 different types of vehicles
# df['paint_color'].nunique() # 12 unique colors
# df['state'].nunique() # # of states listed from

51

In [33]:
df['model'].unique()

array(['corvette grand sport', 'sonata', 'x3 3.0i', ...,
       "32' 2 car trailer", 'bluebird 4300', 'caravana'], dtype=object)